<nav class="navbar bg-dark sticky-top" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand text-light"><h3>Ecom</h3></a>

    <div class="d-flex ms-auto align-items-center">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" name="q[name_cont]" placeholder="Search" aria-label="Search" style="width: 850px;">
        <%# <button class="btn btn-outline-success" type="submit">Search</button> %>
      </form>

      <div class="nav-item dropdown ms-3">
        <a class="nav-link dropdown-toggle text-light d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <% if current_customer.avatar.attached? %>
            <%= image_tag url_for(current_customer.avatar), class: "rounded-circle me-2", alt: current_customer.email, width: 32, height: 32 %>
          <% end %>
          <%= current_customer.email %>
        </a>

        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" href="#">Change Password</a></li>
          <li><a class="dropdown-item" href="#">Delete Account</a></li>
          <li><%= button_to "Sign Out", destroy_customer_session_path, class: "btn", method: :delete %></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
