<div class="sidebar">
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a href="#" class="nav-link active" aria-current="page">
        <svg class="bi pe-none me-2" width="16" height="16" fill="currentColor">
          <path d="M0 0h16v16H0V0z" fill="none"></path>
          <path d="M4 5h8v1H4V5zm0 2h8v1H4V7zm0 2h8v1H4v-1z"></path>
        </svg>
        Home
      </a>
    </li>

    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi pe-none me-2" width="16" height="16" fill="currentColor">
          <path d="M0 0h16v16H0V0z" fill="none"></path>
          <path d="M4 5h8v1H4V5zm0 2h8v1H4V7zm0 2h8v1H4v-1z"></path>
        </svg>
        Dashboard
      </a>
    </li>

    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi pe-none me-2" width="16" height="16" fill="currentColor">
          <path d="M0 0h16v16H0V0z" fill="none"></path>
          <path d="M4 5h8v1H4V5zm0 2h8v1H4V7zm0 2h8v1H4v-1z"></path>
        </svg>
        Orders
      </a>
    </li>

    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi pe-none me-2" width="16" height="16" fill="currentColor">
          <path d="M0 0h16v16H0V0z" fill="none"></path>
          <path d="M4 5h8v1H4V5zm0 2h8v1H4V7zm0 2h8v1H4v-1z"></path>
        </svg>
        Products
      </a>
    </li>

    <li>
      <a href="<%= admin_root_path %>" class="nav-link text-white">
        <svg class="bi pe-none me-2" width="16" height="16" fill="currentColor">
          <path d="M0 0h16v16H0V0z" fill="none"></path>
          <path d="M4 5h8v1H4V5zm0 2h8v1H4V7zm0 2h8v1H4v-1z"></path>
        </svg>
        Admin
      </a>
    </li>
  </ul>
  
  <div class="sidebar-footer">
    @Ecom <%= Date.today.year %>
  </div>
</div>
