<div class="sidebar">
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a href="<%= root_path %>" class="nav-link active" aria-current="page">
        <svg class="bi pe-none me-2" width="16" height="16" fill="currentColor">
          <path d="M0 0h16v16H0V0z" fill="none"></path>
          <path d="M4 5h8v1H4V5zm0 2h8v1H4V7zm0 2h8v1H4v-1z"></path>
        </svg>
        Home
      </a>
    </li>

    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi pe-none me-2" width="16" height="16" fill="currentColor">
          <path d="M0 0h16v16H0V0z" fill="none"></path>
          <path d="M4 5h8v1H4V5zm0 2h8v1H4V7zm0 2h8v1H4v-1z"></path>
        </svg>
        Dashboard
      </a>
    </li>

    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi pe-none me-2" width="16" height="16" fill="currentColor">
          <path d="M0 0h16v16H0V0z" fill="none"></path>
          <path d="M4 5h8v1H4V5zm0 2h8v1H4V7zm0 2h8v1H4v-1z"></path>
        </svg>
        Orders
      </a>
    </li>

    <li>
      <a href="#" class="nav-link text-white">
        <svg class="bi pe-none me-2" width="16" height="16" fill="currentColor">
          <path d="M0 0h16v16H0V0z" fill="none"></path>
          <path d="M4 5h8v1H4V5zm0 2h8v1H4V7zm0 2h8v1H4v-1z"></path>
        </svg>
        Products
      </a>
    </li>

    <li>
      <a href="<%= admin_root_path %>" class="nav-link text-white">
        <svg class="bi pe-none me-2" width="16" height="16" fill="currentColor">
          <path d="M0 0h16v16H0V0z" fill="none"></path>
          <path d="M4 5h8v1H4V5zm0 2h8v1H4V7zm0 2h8v1H4v-1z"></path>
        </svg>
        Admin
      </a>
    </li>

    <li class="nav-item px-3">
      <h5 class="text-white mt-4">Categories</h5>
      <ul class="nav flex-column">
        <% @categories.each do |category| %>
          <li class="nav-item">
            <%= link_to category.category.capitalize() , root_path(q: { category_id_eq: category.id }), class: "nav-link text-white" %>
          </li>
        <% end %>
      </ul>
    </li>
  </ul>
  
  <div class="sidebar-footer">
    @Ecom <%= Date.today.year %>
  </div>
</div>
