body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

header {
    z-index: 1000;
    background-color: #212529;
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 65px;
    bottom: 0;
    width: 280px;
    background-color: #212529;
    color: white;
    overflow-y: auto;
    height: calc(100vh - 65px);
    padding-top: 20px;
    z-index: 100;
}

.main-content {
    margin-left: 280px;
    padding: 20px;
    flex: 1;
}

.nav-link {
    color: #adb5bd;
}

.nav-link.active {
    color: #ffffff;
    background-color: #495057;
}

.nav-link:hover {
    color: #ffffff;
    background-color: #495057;
}

.sidebar-footer {
    padding: 10px 30px;
    background-color: #212529;
    margin-top: auto;
}

.profile-container {
display: flex;
align-items: center;
margin-top: 20px;
}

.profile-container .profile-image {
  flex: 0 0 150px;
  margin-right: 20px;
}

.profile-container .profile-image img {
  width: 150px;
  height: 150px;
  border-radius: 0;
  object-fit: cover;
}

.profile-container .profile-details {
  flex: 1;
}

.profile-container .profile-details h2 {
  margin-top: 0;
}

.card-footer {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.card {
  max-width: 400px;
  margin: 0 auto;
}

.size-btn.active {
  background-color: #343a40;
  color: white;
}

.disabled {
  pointer-events: none;
  opacity: 0.65;
}